body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#paragrapg-result {
    margin-top: 50px;
}

input {
    width: 200px;
    margin-top: 10px;
}

label{
    font-family: monospace;
}